html{display: block;}

body {display: flex; flex-wrap: wrap; justify-content: center; margin: 0px;}

header {display:inline-flex; width:100%; height:100px; align-items: center; justify-content: space-around; text-decoration: none; margin: 0px;}
header>nav { height:100%; display:flex; align-items: center; justify-content: center; font-size: 1em;}
header>nav>a {font-family : "Ubuntu"; display: flex; height: auto; width: auto; align-self:center; text-decoration: none; color:black; margin-right: 50px; align-items: center; padding: 10px;}
header>nav>a:hover {color: #2776dc; transition-duration: 0.3s;}

#banner{display: flex; width: 100%; height: 700px; flex-direction : column; align-items: center; justify-content: center; background-image: url('./../img/route.jpg'); background-size: cover; }
#banner>div>img {width: 100%;}
#banner>div {display: flex; width: 100%; height: 100%; flex-direction: column; align-items: center; justify-content: flex-end;}
#banner>div>a>i {color: white; opacity: 0.5; font-size: 2em; margin-bottom: 25px;}
#banner>div>a>i:hover {opacity: 1; transition-duration: 0.3s; }

/*#announce {width: 40%; height: auto; color: white;}*/
#announce>p {font-family: "Ubuntu"; font-size: 2em; color: white; background: rgba(0,0,0,0.4); padding: 100px;}

/*#events {width: 100%, height: auto; min-height: 200px;}*/

#events {display: inline-flex; flex-wrap: wrap; flex-direction: raw; height: 300px; width: 100%; justify-content: space-around; align-items: center; background-color: #4CDEF5;}
#events>form>div>h3 {font-family : "Ubuntu"; font-size: 2.7em; color: black;}
#events>form>p {font-family: 'Michroma'; font-size: 1.2em;}
#events>form>div>input {height: 30px; width: 300px;}
#events>form>div>button {height: 50px; width: 50px;}
.participate {text-decoration: none; color: #841983; opacity: 0.6;}
.participate:hover {opacity: 1; transition-duration: 0.4s;}

#results {font-family: "Ubuntu"; font-size: 1.4em; color: #841983;}

/*#image {display: flex; flex-direction: column; align-items: center; justify-content: center;}
#image>h3 {width: 100%; font-family: "Ubuntu", sans-serif; font-size: 2em; align-self: center; padding-left : 20px; padding-right : 20px;}*/

#image {display: flex; flex-direction: column; width: 100%; height: auto; min-height: 300px;}
#image>h3 {font-family: "Ubuntu", sans-serif; font-size: 2em; align-self: center; padding-left : 20px; padding-right : 20px;}
#image>img {width:40vw; height:auto; margin: auto;}

#prev {display: flex; flex-direction: column; width: 100%; height: auto; min-height: 300px;}
#prev>h3 {font-family: "Ubuntu", sans-serif; font-size: 2em; align-self: center; padding-left : 20px; padding-right : 20px;}
#quote {font-family: "Shadows Into Light", cursive; font-size: 1.6em; padding: 20px;}
#advices {height : auto; width : 100%; min-height: 200px;background-color: grey;}
#assistance {width: 100%; height : auto; display: inline-flex; flex-direction: column; background-color: #4CDEF5; justify-content: space-around; align-items: center;}

#assistance>p {font-family: "Ubuntu"; font-size: 1.6em; color: #841983;}

#calls {display: inline-flex; width: 100%; flex-direction: row; justify-content: space-around; padding-bottom: 20px; flex-wrap: wrap;}
#calls>a {font-family : "Ubuntu"; text-decoration: none; color:#FF5992; font-size: 1.6em; opacity: 0.6;}
#calls>a:hover {opacity: 1; transition-duration: 0.3s; }

footer {display: inline-flex; flex-wrap: wrap; flex-direction: column; height: auto; width: 100%; justify-content: space-between; align-items: center;}
footer>p {font-family : "Ubuntu"; padding-top: 20px; color: #841983;}

#socials {display: inline-flex; justify-content: space-around; align-items: center; height: auto; width: 20%; font-size: 1.6em; padding-top: 30px; padding-bottom: 30px; color : #841983;}
#socials>a {text-decoration: none; color: #841983;}
#socials>a:hover {color: #4CDEF5; transition-duration: 0.5s;}

.post {display: flex; flex-direction: column; width: 80%; align-items: center; justify-content: center; border-bottom: 1px solid red; align-self: center;}
.post>h4 {font-family: "Ubuntu", sans-serif; font-size: 1.6em; padding: 0px; margin: 0px; color: #841983;}
.post>p {font-family: 'Shadows Into Light', cursive; font-size: 1.4em;}

<<<<<<< HEAD
#accident {
  font-family: "Ubuntu";
  width: 40vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#accident h1,h2 {
  margin: 20px;
  text-align: center;
}

#accident button{
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  background: #DFAF2C;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.pure-button{
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  background: #DFAF2C;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#accident span {
  color: red;
}


#etapes {
  visibility: hidden;
  border:2px solid black;
}

.prob {
  font-family: "Ubuntu", sans-serif;
  position: relative;
  justify-content: flex-start;
}

.prob button {
  border-radius: 5px;
  color: #ffffff;
  background: #DFAF2C;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
=======
#erreur {text-align: center; font-family: "Ubuntu", sans-serif; font-size: 1.6em; margin-top: 1em;}
#erreur>#devinette {margin-top: 3em; margin-bottom: 3em;}
>>>>>>> 213b6b8d4f9996291d2579abd358bfb7ca4edb68
